<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
  	 <th:block th:replace="fragments/risorse :: risorse-head"></th:block>
     <title>Resource not found</title>
  </head>
  <body>
   <th:block th:insert="fragments/navbar :: navbar('')"></th:block>
  	<div class="container text-center w-75 mt-3">
    	<div class="alert alert-warning">
    		<h1>Purtroppo si è verificato un errore</h1>
			<h2>Errore interno</h2>
			<div th:text="|${status} ${error} ${message}|"></div>
    	</div>
    	<a class="btn btn-primary" href="/">Home</a>
    </div>
  </body>
</html>